.profile {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  text-align: justify;
}
