.tcc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: var(--primary);
}

.header-title {
  color: var(--text-inverse);
  text-wrap: nowrap;
}

.navbar {
  display: block;
}

.navlist {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 36px;
}

.resnavbar {
  display: none;
  position: relative;
  color: var(--text-inverse);
}

.resnavlist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;

  position: absolute;
  right: -8px;
  top: 68px;

  background-color: var(--primary);
  border-radius: 12px;
}

.navlink,
.resnavlink {
  overflow: hidden;
  text-decoration: none;
  text-wrap: nowrap;
  font-size: 14px;
  color: var(--text-inverse);
  transition: transform .15s ease-in-out;

  a {
    color: var(--text-inverse);
    transition: color .15s ease-in-out,
  }
}

.navlink:hover {
  cursor: pointer;
  transform: scale(1.05);

  a {
    color: var(--text-inverse-dark);
  }
}

.resnavlink:hover {
  cursor: pointer;

  a {
    background: var(--primary-light);
  }
}

.resnavlink:active {
  a {
    background: var(--primary-light);
  }
}

.resnavlink {
  width: 100%;
  font-weight: 400;

  a {
    width: 100%;
    padding: 12px 24px;
  }
}

.disabled {
  pointer-events: none;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 48px;
  background-color: var(--primary-light);
}

.title {
  width: 70%;
  min-width: 660px;
  max-width: 850px;
}

.title h1 {
  font-size: 28px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 150%;
  letter-spacing: 2px;
}

.content {
  width: 50%;
  max-width: 800px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 48px 0;
}

.section {
  width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scroll-margin-top: 100px;
}

.subsection {
  width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 16px;

  img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
}

.profile.horizontal {
  gap: 32px;
  
  .profile-links {
    justify-content: flex-start;
  }
}

.profile.vertical {
  min-width: 140px;
  max-width: 300px;
  flex-direction: column;
  gap: 16px;

  .profile-links {
    justify-content: center;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-name {
  text-align: center;
}

.profile-links {
  display: flex;
  gap: 16px;
}

.profile-links a {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  color: var(--text);

  transition: 
    transform .15s ease-in-out,
    color .15s ease-in-out;
}

.profile-links a:hover {
  cursor: pointer;
  color: var(--primary);
  transform: scale(1.05);
}

.technologies {
  margin-bottom: 12px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
}

.tech {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  color: var(--text);
}

.home-img {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.row-img {
  width: calc((100% - 24px)/4);
  display: flex;
  gap: 12px;
}

.web-img {
  height: auto;
  width: calc(3*(100% - 24px)/4);
  border: solid 1px var(--secondary);
  border-radius: 12px;
}

.mob-img {
  height: auto;
  width: 100%;
  border: solid 1px var(--secondary);
  border-radius: 12px;
}

.res-img {
  display: none;
}

.arch-img {
  margin-top: 12px;
  height: auto;
  width: 60%;
  display: block;
  float: left;
  margin-right: 40px;
}

.schedule-img {
  margin-top: 12px;
  height: auto;
  width: 100%;
}

@media (max-width: 1000px) {
  .navbar {
    display: none;
  }

  .resnavbar {
    display: block;
  }
}

@media (max-width: 710px) {
  .hero {
    gap: 24px;
    padding: 32px;
  }

  .title {
    width: 100%;
    min-width: 100px;
    max-width: 600px;
  }
  
  .title h1 {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: .8px;
  }

  .content {
    width: 80%;
    max-width: 600px;
    min-width: 100px;
    margin: 32px 0;
  }

  .group {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
  }
  
  .profile.horizontal {
    gap: 16px;
  }
  
  .profile.vertical {
    max-width: none;
    flex-direction: row;
    gap: 16px;

    .profile-links {
      justify-content: flex-start;
    }
  }
  
  .profile-info {
    gap: 8px;
  }
  
  .profile-name {
    text-align: start;
  }

  .profile-links {
    gap: 8px;
  }

  .profile-links a:hover {
    cursor: pointer;
    color: inherit;
    transform: none;
  }

  .technologies {
    justify-content: flex-start;
  }

  .home-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .row-img {
    width: 100%;
  }
  
  .web-img {
    width: 100%;
    border-radius: 8px;
  }

  .res-img {
    display: block;
  }
  
  .mob-img {
    width: calc((100% - 12px)/2);
    border-radius: 8px;
  }
  
  .arch-img {
    margin-bottom: 12px;
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
