.navigation {
  height: 100vh;
  width: 100vw;
  position: relative;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.sidebar {
  position: absolute;
  inset: 52px;
}
