.skills {
  background-color: var(--background-primary);
}

.content {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px 32px;
  grid-template-areas: 
    "tech tools"
    "tech lang"
  ;
}

.tech { 
  grid-area: tech;
  height: fit-content;
}

.tools { 
  grid-area: tools;
  height: fit-content;
}

.lang { 
  grid-area: lang;
  height: fit-content;
}
