.education {
  background-color: var(--background);
}

.content {
  transform: translate(0, 8%);
  width: fit-content;
  display: flex;
  gap: 100px;
}

.section { 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 24px;
}
