.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 36px;
}

.link {
  text-decoration: none;
  color: var(--text-inverse);
  transition: 
    transform .1s ease-in-out,
    color .1s ease-in-out
  ;
}

.link:hover {
  cursor: pointer;
  color: var(--primary);
  transform: scale(1.1);
}
